.nav-list-item{
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #7D7D7D;
text-decoration: none;
list-style: none;
cursor: pointer;
}
a{
    text-decoration: none;
    color: #7D7D7D;
}
 header{
    margin-top: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 100px;
}
.nav-list-item:hover,a:hover{
    color: #03A9F4;
}
.photo-list-item{
    text-decoration: none;
    list-style: none;
}
.photo-list-title{
    font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color:#B4AD9E;
}
.photo-list-title2{
    font-family: Playfair Display;
font-size: 30px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: #626262;
}
.photo-list-text{
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #626262;
}
.photo-list{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 906px;
    margin-top: 92px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.photo-list-item{
    width: 420px;
    height: 546px;
    top: 182px;
    left: 633px ;  
}
   ul{
       margin: 0;
       padding: 0;
   }
   body{
    margin: 0;
   }

   .btn-list{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
   }

   .btn{
    margin: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px #626262;
    background-color: white;
    color: #626262;
    width: 165px;
    height: 60px;
    top: 2110px;
    left: 506px;
   }
   .btn:hover{
    cursor: pointer;
   }
